<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.evaluating.mapper.ExamMapper" >

    <resultMap id="BaseResultMap" type="com.evaluating.model.Exam" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="bpm_status" property="bpmStatus" jdbcType="VARCHAR" />
        <result column="e_create_id" property="eCreateId" jdbcType="VARCHAR" />
        <result column="e_name" property="eName" jdbcType="VARCHAR" />
        <result column="e_status" property="eStatus" jdbcType="VARCHAR" />
        <result column="sys_org_code" property="sysOrgCode" jdbcType="VARCHAR" />
        <result column="sys_company_code" property="sysCompanyCode" jdbcType="VARCHAR" />
        <result column="e_date" property="eDate" jdbcType="TIMESTAMP" />
        <result column="e_count" property="eCount" jdbcType="VARCHAR" />
        <result column="e_info" property="eInfo" jdbcType="LONGVARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, bpm_status, e_create_id, e_name, e_status, sys_org_code, sys_company_code, e_date, 
        e_count, e_info
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.evaluating.model.ExamExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from e_exam
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <delete id="deleteByExample" parameterType="com.evaluating.model.ExamExample" >
        delete from e_exam
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.evaluating.model.Exam" >
        insert into e_exam (id, bpm_status, e_create_id, 
            e_name, e_status, sys_org_code, 
            sys_company_code, e_date, e_count, 
            e_info)
        values (#{id,jdbcType=VARCHAR}, #{bpmStatus,jdbcType=VARCHAR}, #{eCreateId,jdbcType=VARCHAR}, 
            #{eName,jdbcType=VARCHAR}, #{eStatus,jdbcType=VARCHAR}, #{sysOrgCode,jdbcType=VARCHAR}, 
            #{sysCompanyCode,jdbcType=VARCHAR}, #{eDate,jdbcType=TIMESTAMP}, #{eCount,jdbcType=VARCHAR}, 
            #{eInfo,jdbcType=LONGVARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.evaluating.model.Exam" >
        insert into e_exam
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="bpmStatus != null" >
                bpm_status,
            </if>
            <if test="eCreateId != null" >
                e_create_id,
            </if>
            <if test="eName != null" >
                e_name,
            </if>
            <if test="eStatus != null" >
                e_status,
            </if>
            <if test="sysOrgCode != null" >
                sys_org_code,
            </if>
            <if test="sysCompanyCode != null" >
                sys_company_code,
            </if>
            <if test="eDate != null" >
                e_date,
            </if>
            <if test="eCount != null" >
                e_count,
            </if>
            <if test="eInfo != null" >
                e_info,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="bpmStatus != null" >
                #{bpmStatus,jdbcType=VARCHAR},
            </if>
            <if test="eCreateId != null" >
                #{eCreateId,jdbcType=VARCHAR},
            </if>
            <if test="eName != null" >
                #{eName,jdbcType=VARCHAR},
            </if>
            <if test="eStatus != null" >
                #{eStatus,jdbcType=VARCHAR},
            </if>
            <if test="sysOrgCode != null" >
                #{sysOrgCode,jdbcType=VARCHAR},
            </if>
            <if test="sysCompanyCode != null" >
                #{sysCompanyCode,jdbcType=VARCHAR},
            </if>
            <if test="eDate != null" >
                #{eDate,jdbcType=TIMESTAMP},
            </if>
            <if test="eCount != null" >
                #{eCount,jdbcType=VARCHAR},
            </if>
            <if test="eInfo != null" >
                #{eInfo,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.evaluating.model.ExamExample" resultType="java.lang.Integer" >
        select count(*) from e_exam
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update e_exam
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.bpmStatus != null" >
                bpm_status = #{record.bpmStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.eCreateId != null" >
                e_create_id = #{record.eCreateId,jdbcType=VARCHAR},
            </if>
            <if test="record.eName != null" >
                e_name = #{record.eName,jdbcType=VARCHAR},
            </if>
            <if test="record.eStatus != null" >
                e_status = #{record.eStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.sysOrgCode != null" >
                sys_org_code = #{record.sysOrgCode,jdbcType=VARCHAR},
            </if>
            <if test="record.sysCompanyCode != null" >
                sys_company_code = #{record.sysCompanyCode,jdbcType=VARCHAR},
            </if>
            <if test="record.eDate != null" >
                e_date = #{record.eDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.eCount != null" >
                e_count = #{record.eCount,jdbcType=VARCHAR},
            </if>
            <if test="record.eInfo != null" >
                e_info = #{record.eInfo,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update e_exam
        set id = #{record.id,jdbcType=VARCHAR},
            bpm_status = #{record.bpmStatus,jdbcType=VARCHAR},
            e_create_id = #{record.eCreateId,jdbcType=VARCHAR},
            e_name = #{record.eName,jdbcType=VARCHAR},
            e_status = #{record.eStatus,jdbcType=VARCHAR},
            sys_org_code = #{record.sysOrgCode,jdbcType=VARCHAR},
            sys_company_code = #{record.sysCompanyCode,jdbcType=VARCHAR},
            e_date = #{record.eDate,jdbcType=TIMESTAMP},
            e_count = #{record.eCount,jdbcType=VARCHAR},
            e_info = #{record.eInfo,jdbcType=LONGVARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
</mapper>