<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.evaluating.mapper.UserMapper" >

    <resultMap id="BaseResultMap" type="com.evaluating.model.User" >
        <result column="u_id" property="uId" jdbcType="INTEGER" />
        <result column="u_name" property="uName" jdbcType="VARCHAR" />
        <result column="u_password" property="uPassword" jdbcType="VARCHAR" />
        <result column="u_email" property="uEmail" jdbcType="VARCHAR" />
        <result column="u_phone" property="uPhone" jdbcType="VARCHAR" />
        <result column="u_rname" property="uRname" jdbcType="VARCHAR" />
        <result column="u_card_no" property="uCardNo" jdbcType="VARCHAR" />
        <result column="u_sex" property="uSex" jdbcType="INTEGER" />
        <result column="u_birthday" property="uBirthday" jdbcType="DATE" />
        <result column="u_jiguan" property="uJiguan" jdbcType="VARCHAR" />
        <result column="u_hukou" property="uHukou" jdbcType="VARCHAR" />
        <result column="u_political" property="uPolitical" jdbcType="VARCHAR" />
        <result column="u_education" property="uEducation" jdbcType="VARCHAR" />
        <result column="u_degree" property="uDegree" jdbcType="VARCHAR" />
        <result column="u_major" property="uMajor" jdbcType="VARCHAR" />
        <result column="u_school" property="uSchool" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        u_id, u_name, u_password, u_email, u_phone, u_rname, u_card_no, u_sex, u_birthday, 
        u_jiguan, u_hukou, u_political, u_education, u_degree, u_major, u_school
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.evaluating.model.UserExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from e_user
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <delete id="deleteByExample" parameterType="com.evaluating.model.UserExample" >
        delete from e_user
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.evaluating.model.User" >
        insert into e_user (u_id, u_name, u_password, 
            u_email, u_phone, u_rname, 
            u_card_no, u_sex, u_birthday, 
            u_jiguan, u_hukou, u_political, 
            u_education, u_degree, u_major, 
            u_school)
        values (#{uId,jdbcType=INTEGER}, #{uName,jdbcType=VARCHAR}, #{uPassword,jdbcType=VARCHAR}, 
            #{uEmail,jdbcType=VARCHAR}, #{uPhone,jdbcType=VARCHAR}, #{uRname,jdbcType=VARCHAR}, 
            #{uCardNo,jdbcType=VARCHAR}, #{uSex,jdbcType=INTEGER}, #{uBirthday,jdbcType=DATE}, 
            #{uJiguan,jdbcType=VARCHAR}, #{uHukou,jdbcType=VARCHAR}, #{uPolitical,jdbcType=VARCHAR}, 
            #{uEducation,jdbcType=VARCHAR}, #{uDegree,jdbcType=VARCHAR}, #{uMajor,jdbcType=VARCHAR}, 
            #{uSchool,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.evaluating.model.User" >
        insert into e_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="uId != null" >
                u_id,
            </if>
            <if test="uName != null" >
                u_name,
            </if>
            <if test="uPassword != null" >
                u_password,
            </if>
            <if test="uEmail != null" >
                u_email,
            </if>
            <if test="uPhone != null" >
                u_phone,
            </if>
            <if test="uRname != null" >
                u_rname,
            </if>
            <if test="uCardNo != null" >
                u_card_no,
            </if>
            <if test="uSex != null" >
                u_sex,
            </if>
            <if test="uBirthday != null" >
                u_birthday,
            </if>
            <if test="uJiguan != null" >
                u_jiguan,
            </if>
            <if test="uHukou != null" >
                u_hukou,
            </if>
            <if test="uPolitical != null" >
                u_political,
            </if>
            <if test="uEducation != null" >
                u_education,
            </if>
            <if test="uDegree != null" >
                u_degree,
            </if>
            <if test="uMajor != null" >
                u_major,
            </if>
            <if test="uSchool != null" >
                u_school,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="uId != null" >
                #{uId,jdbcType=INTEGER},
            </if>
            <if test="uName != null" >
                #{uName,jdbcType=VARCHAR},
            </if>
            <if test="uPassword != null" >
                #{uPassword,jdbcType=VARCHAR},
            </if>
            <if test="uEmail != null" >
                #{uEmail,jdbcType=VARCHAR},
            </if>
            <if test="uPhone != null" >
                #{uPhone,jdbcType=VARCHAR},
            </if>
            <if test="uRname != null" >
                #{uRname,jdbcType=VARCHAR},
            </if>
            <if test="uCardNo != null" >
                #{uCardNo,jdbcType=VARCHAR},
            </if>
            <if test="uSex != null" >
                #{uSex,jdbcType=INTEGER},
            </if>
            <if test="uBirthday != null" >
                #{uBirthday,jdbcType=DATE},
            </if>
            <if test="uJiguan != null" >
                #{uJiguan,jdbcType=VARCHAR},
            </if>
            <if test="uHukou != null" >
                #{uHukou,jdbcType=VARCHAR},
            </if>
            <if test="uPolitical != null" >
                #{uPolitical,jdbcType=VARCHAR},
            </if>
            <if test="uEducation != null" >
                #{uEducation,jdbcType=VARCHAR},
            </if>
            <if test="uDegree != null" >
                #{uDegree,jdbcType=VARCHAR},
            </if>
            <if test="uMajor != null" >
                #{uMajor,jdbcType=VARCHAR},
            </if>
            <if test="uSchool != null" >
                #{uSchool,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.evaluating.model.UserExample" resultType="java.lang.Integer" >
        select count(*) from e_user
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update e_user
        <set >
            <if test="record.uId != null" >
                u_id = #{record.uId,jdbcType=INTEGER},
            </if>
            <if test="record.uName != null" >
                u_name = #{record.uName,jdbcType=VARCHAR},
            </if>
            <if test="record.uPassword != null" >
                u_password = #{record.uPassword,jdbcType=VARCHAR},
            </if>
            <if test="record.uEmail != null" >
                u_email = #{record.uEmail,jdbcType=VARCHAR},
            </if>
            <if test="record.uPhone != null" >
                u_phone = #{record.uPhone,jdbcType=VARCHAR},
            </if>
            <if test="record.uRname != null" >
                u_rname = #{record.uRname,jdbcType=VARCHAR},
            </if>
            <if test="record.uCardNo != null" >
                u_card_no = #{record.uCardNo,jdbcType=VARCHAR},
            </if>
            <if test="record.uSex != null" >
                u_sex = #{record.uSex,jdbcType=INTEGER},
            </if>
            <if test="record.uBirthday != null" >
                u_birthday = #{record.uBirthday,jdbcType=DATE},
            </if>
            <if test="record.uJiguan != null" >
                u_jiguan = #{record.uJiguan,jdbcType=VARCHAR},
            </if>
            <if test="record.uHukou != null" >
                u_hukou = #{record.uHukou,jdbcType=VARCHAR},
            </if>
            <if test="record.uPolitical != null" >
                u_political = #{record.uPolitical,jdbcType=VARCHAR},
            </if>
            <if test="record.uEducation != null" >
                u_education = #{record.uEducation,jdbcType=VARCHAR},
            </if>
            <if test="record.uDegree != null" >
                u_degree = #{record.uDegree,jdbcType=VARCHAR},
            </if>
            <if test="record.uMajor != null" >
                u_major = #{record.uMajor,jdbcType=VARCHAR},
            </if>
            <if test="record.uSchool != null" >
                u_school = #{record.uSchool,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update e_user
        set u_id = #{record.uId,jdbcType=INTEGER},
            u_name = #{record.uName,jdbcType=VARCHAR},
            u_password = #{record.uPassword,jdbcType=VARCHAR},
            u_email = #{record.uEmail,jdbcType=VARCHAR},
            u_phone = #{record.uPhone,jdbcType=VARCHAR},
            u_rname = #{record.uRname,jdbcType=VARCHAR},
            u_card_no = #{record.uCardNo,jdbcType=VARCHAR},
            u_sex = #{record.uSex,jdbcType=INTEGER},
            u_birthday = #{record.uBirthday,jdbcType=DATE},
            u_jiguan = #{record.uJiguan,jdbcType=VARCHAR},
            u_hukou = #{record.uHukou,jdbcType=VARCHAR},
            u_political = #{record.uPolitical,jdbcType=VARCHAR},
            u_education = #{record.uEducation,jdbcType=VARCHAR},
            u_degree = #{record.uDegree,jdbcType=VARCHAR},
            u_major = #{record.uMajor,jdbcType=VARCHAR},
            u_school = #{record.uSchool,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
</mapper>